{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'reviews/css/styles-reviews.css' %}">
<div class="container review-container">
    <div class="row">
        <div class="col py-3">
            <h1 class="text-center font-shrikhand" style="margin:0;">REVIEWS</h1>
        </div>
    </div>
    <div class="row justify-content-center py-4" style="background-color: #FFFFFF">
        {% for r in reviews_list %}
        <div class="col-10 py-2">
            <div class="row justify-content-center">
                <div style="height:50px;" class="col-lg-1 col-1 avatar-col">
                    <img style="height:100%;" class="img-fluid" src="{% static 'core/imgs/main/account_icon.svg' %}">
                </div>
                <div class="col-lg-8 col-6 py-2">
                    <h4 class="d-inline">{{ r.client }}</h4>
                    <p class="d-inline ml-2" style="font-weight:500; color:#546E7A">({{ r.date }})</p>
                </div>
                <div class="col-lg-3 col-3 py-2" align="left">
                    <div id="rating1" class="star-rating" data-value="{{ r.rating }}"></div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <p>{{ r.review }}</p>
                </div>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="{% static 'reviews/js/reviews.js' %}"></script>
