@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Raleway:600i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');


body{

    background-color: #FAFAFA;

}

h1, h2, h3, h4, h5{

    color: #37474F;
    font-family: 'Roboto', sans-serif;

}

hr > :last-child{

    border-top: 1px solid red !important;

}

p{

    font-weight: 300;

}

.font-shrikhand{

    font-family: 'Shrikhand', cursive;
    letter-spacing: .5rem;

}

.review-container{

    margin-top: 75px;
    width: 700px;
    background-color: #4DB6AC;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);

}

.avatar-col{

    padding: 0

}

.star-rating{

    position:absolute;
    font-size: 1.25rem;
    color: #4DB6AC;
    display: inline-block;
    overflow: hidden;

}
.star-rating::before {

    content: "★★★★★"

}

.bg-star-rating{

    position:absolute;
    font-size: 1.25rem;
    color: #455A64;
    display: inline-block;
    overflow: hidden;

}
.bg-star-rating::before {

    content: "★★★★★"

}

.help-button{

    color: #4DB6AC;

}

.help-button:hover{

    cursor: pointer;
    color: #00796B;

}