.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
media/user_10/storefront/barber-storefront\.jpg

*.jpg

media/user_9/storefront/hero-storefront\.png

*.pyc
