<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'chat/css/styles.css' %}">
    </head>
<body>
    <div class="container chat-container mb-5">
        <div class="row align-items-center py-4">
            <div class="col">
                <h1 class="main-header text-center mb-0">MESSAGES</h1>
            </div>
        </div>
        <div class="row chatbox p-5">
            <div class="col-12">
                <!--<div class="row my-4">-->
                    <!--<div class="col-lg-10 msg-send p-3">-->
                        <!--<p class="content">NIGGA</p>-->
                        <!--<p class="msg-date mt-2">02-10-2018 7:53pm</p>-->
                    <!--</div>-->
                    <!--<div class="col-lg-2" style="height: 75px;">-->
                        <!--<img style="height:100%;" class="img-fluid" src="/static/core/imgs/main/account_icon.svg">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row my-4">-->
                    <!--<div class="col-lg-2" style="height: 75px;">-->
                        <!--<img style="height:100%;" class="img-fluid" src="/static/core/imgs/main/account_icon.svg">-->
                    <!--</div>-->
                    <!--<div class="col-lg-10 msg-receive p-3">-->
                        <!--<p class="content">FUCK YOU SAY?FUCK YOU SAY?FUCK YOU SAY?FUCK YOU SAY?FUCK YOU SAY?FUCK YOU SAY?FUCK YOU SAY?FUCK YOU SAY?</p>-->
                        <!--<p class="msg-date mt-2">02-10-2018 7:53pm</p>-->
                    <!--</div>-->
                <!--</div>-->
                {% for m in messages %}
                    {% if m.sender|stringformat:"s" == current_user %}
                        <div class="row my-4">
                            <div class="col-lg-10 msg-send p-3">
                                <p class="content">{{ m.message }}</p>
                                <p class="msg-date mt-2">{{ m.sent_date }}</p>
                            </div>
                            <div class="col-lg-2" style="height: 75px;">
                                <img style="height:100%;" class="img-fluid" src="/static/core/imgs/main/account_icon.svg">
                            </div>
                        </div>
                    {% else %}
                        <div class="row my-4">
                            <div class="col-lg-2" style="height: 75px;">
                                <img style="height:100%;" class="img-fluid" src="/static/core/imgs/main/account_icon.svg">
                            </div>
                            <div class="col-lg-10 msg-receive p-3">
                                <p class="content">{{ m.message }}</p>
                                <p class="msg-date mt-2">{{ m.sent_date }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <form style="width:100%;">
                <div class="col-12 p-0 mt-5">
                    <textarea id="txtarea" class="form-control form-control-lg"></textarea>
                </div>
                <div class="col-12 m-0 p-4 textarea-btm text-right">
                    <button id="btn-send-msg" type="submit" class="btn btn-primary btn-send p-3">SEND MESSAGE</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="{% static 'chat/js/main.js' %}"></script>
</body>
</html>