<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'booking/css/styles-itinerary.css' %}">
    </head>
<body>
    <div class="container mb-5 itinerary-card">
        <div class="row align-items-center pt-4 pb-4">
            <div class="col">
                <h1 class="text-center font-shrikhand">STYLISTA CONTRACT</h1>
            </div>
        </div>
        <div class="row justify-content-center py-5 itinerary-body">
            <div class="col-lg-8 itinerary-subbody pt-5 pb-5">
                <div class="col-lg-12 col pl-5 pb-3 pt-3 pr-5 col-subcard">
                    <h4 class="text-left">STYLIST CONTACT</h4>
                    <br>
                    <p>14 baybrook</p>
                    <p>Scarborough, ON M1H 2R6</p>
                    <p>Canada</p>
                    <br>
                    <p>Phone: +1 (905) 123-1325</p>
                    <hr>
                </div>
                <div class="col-lg-12 col pl-5 pb-3 pt-3 pr-5 col-subcard">
                    <h4 class="text-left">LOCATION</h4>
                    <br>
                    <p>56 Shandon</p>
                    <p>Scarborough, ON M1L 2R9</p>
                    <p>Canada</p>
                    <hr>
                </div>
                <div class="col-lg-12 col pl-5 pb-3 pt-3 pr-5 col-subcard">
                    <h4 class="text-left">SERVICES</h4>
                    <br>
                    <p>14 baybrook</p>
                    <p>Scarborough, ON M1H 2R6</p>
                    <p>Canada</p>
                    <hr>
                </div>
                <div class="col-lg-12 col pl-5 p3-5 pt-3 pr-5 col-subcard">
                    <h4 class="text-left">CHARGES</h4>
                    <br>
                    <div class="row">
                        <div class="col-lg-8  col-6">
                            <p class="text-left">Blowjob</p>
                        </div>
                        <div class="col-lg-4  col-6">
                            <p class="text-right">$100.00 CAD</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-6">
                            <p class="text-left">Hairstyle for prom</p>
                        </div>
                        <div class="col-lg-4 col-6">
                            <p class="text-right">$85.00 CAD</p>
                        </div>
                    </div>
                    <div class="row mt-5 p-4 total-bg">
                        <div class="col-lg-8  col-6">
                            <h5 class="text-left">Total</h5>
                        </div>
                        <div class="col-lg-4 col-6">
                            <h5 class="text-right">$85.00 CAD</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="{% static 'booking/js/main.js' %}"></script>
</body>
</html>