@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');


body{

    background-color: #FAFAFA;

}

h1, h2, h3, h4, h5{

    color: #37474F;
    font-family: 'Roboto', sans-serif;

}

li{

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0.5rem 2rem;
    cursor: pointer;

}

label{

    padding: 0.5rem 0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}
.settings-container{

    overflow: hidden;
    background-color: #4DB6AC;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);

}


.account-input{

    width: 80%;
    margin-bottom: 0.5rem;
}

.form-submit-btn{

    width:9rem;
    background-color: #80CBC4;
    font-family: 'Raleway', sans-serif;
    color: #455A64;
    border-radius: 0;
    border: none;
    font-size: 1rem;

}