@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');


*{

    border: 1px solid red;

}

body{

    background-color: #FAFAFA;

}

h1, h2, h3, h4, h5{

    color: #37474F;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.font-roboto4{

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.font-roboto5{

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.upload-container{

    width: 800px;

}

.file-input-label{

    content: center;
    width:80%;
    border: 1px solid #4DB6AC;

}

.overlap{

    font-size: 1.25rem;
    color: #455A64;
    display: inline-block;
    overflow: hidden;

}

.input-upload{

    display: none !important;
    text-align: center;
    z-index: 2;

}

.upload-btn{

    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}