<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'usersettings/css/styles-settings.css' %}">
    </head>
<body>

    <div class="container mt-5 settings-container">
        <div class="row align-items-center py-4">
            <div class="col" align="center">
                <h1 class="mb-0 main-header">USER SETTINGS</h1>
            </div>
        </div>
        <div class="row justify-content-between py-5" style="background-color: #FFFFFF;">
            <div class="col-lg-4 d-none d-sm-block px-5">
                <ul class="list-group list-group-flush mt-4">
                    <li id="profile" class="list-group-item list-item-active py-4">EDIT PROFILE</li>
                    <li id="reviews" class="list-group-item py-4">REVIEWS</li>
                    <li id="photos" class="list-group-item py-4">PHOTOS</li>
                    <li id="payment" class="list-group-item py-4">PAYMENTS</li>
                    <li id="setting" class="list-group-item py-4">ACCOUNT SETTINGS</li>
                </ul>
            </div>
            <div id="formset-container" class="col-12 col-lg-8">
                <!-- FORMS GO HERE -->
            </div>
        </div>
    </div>

    <!-- FORMS -->

    <div id="profile-form" class="d-none">
        <form class="form-group" action="{% url 'usersettings:updateaccount' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <br/>
            <div class="col-lg btn-col mt-4 p-4">
                <button class="btn btn-primary btn-lg form-submit-btn" type="submit">SUBMIT</button>
            </div>
        </form>
    </div>

    <div id="setting-form" class="d-none">
        <h1>SETTINGS</h1>
    </div>
    <div id="photos-form" class="d-none">
        <h1>PHOTOS</h1>
    </div>
    <div id="payment-form" class="d-none">
        <h1>PAYMENT</h1>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="{% static 'usersettings/js/main.js' %}"></script>
</body>
</html>