<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'landing/css/styles-login.css' %}">
    </head>
<body>
    <section>
        <div class="container form-container py-4" style="margin-top: 200px;">
            <div class="row justify-content-center p-5">
                <h3 class="mb-4">LOGIN</h3>
                <div class="col-12">
                    <form action="{% url 'landing:authenticate' %}" method="post">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                <div class="mx-auto">
                                    {% if field.label != 'Remember me' %}
                                        {{field.label_tag}}
                                        {{field}}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{form.remember_me.label}}</label>
                            {{form.remember_me}}
                        </div>
                        <button type="submit" class="btn btn-primary btn-login mt-4 p-3">LOGIN</button>
                        <div class="col-12 text-center">
                            <p class="mt-4" style="font-weight:500; color: #90A4AE;">Forgot your password? Click <a href="#" style="color: #4DB6AC;">Here</a> to reset it.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<!--
<div class="row justify-content-center">
    <div class="col-lg-8 col-12 p-5 form-cards" style="background-color: #FFFFFF;">
        <form action="{% url 'landing:authenticate' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="login-email">Email address</label>
                <input type="email" name="email" class="form-control" id="login-email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="login-password">Password</label>
                <input type="password" name="password" class="form-control" id="login-password" placeholder="Password">
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">LOGIN</button>
        </form>
    </div>
</div>
-->