@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
/*
*{

    border: 1px solid red;

}*/

body{

background-color: #FAFAFA;

}

h1, h2, h3, h4, h5, h6{

    color: #37474F;
    font-family: 'Roboto', sans-serif;

}

a { color: inherit; }


.bg-light{

    background-color: #4DB6AC !important;

}

.navbar-custom{

    height: 90px;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);

}

.navbar-brand{

    font-family: 'Shrikhand', cursive;

}

#c-nav-item{

    font-family: 'Shrikhand', cursive;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    color: #37474F;
}

.account-pic{

    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    margin-left:20px;
    border-radius: 25px;
    background-color: white;
}

#c-dropdown-menu{

    left:auto;
    right: 0;
    top: 135%;
    text-align: center;
    min-width: 14rem;
    font-family: 'Raleway', sans-serif;
}

.search-input{

    border: 1px;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);

}

.main-container{

    overflow: hidden;
    background-color: #4DB6AC;
    border: 1px;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);

}

.dropdown-item{

    padding: 0.5rem 1.5rem;
    letter-spacing: 0.1rem;

}

.top-shelf-left{

    height: inherit;

}

.primary-btns{

    width:9rem;
    background-color: #80CBC4;
    font-family: 'Shrikhand', cursive;
    color: #455A64;
    border-radius: 0;
    border: none;
    font-size: 1rem;
    padding: 5rem;

}

.primary-btns:hover{

    color: #455A64;
    background-color: #81D4FA;

}

.primary-btns-hover{

    color: #455A64;
    background-color: #81D4FA;

}

.f-datepicker{

    background-color: white;
    border: none;
    border-bottom: 1px solid #90A4AE;
    font-family: 'Raleway', sans-serif;

}

.f-datepicker:hover{

    /*background-color:#009688*/

}

.box{

    border-bottom: 1px solid #90A4AE;

}

.map{

    width:100%;

}

.stylist-card{

    /*height:200px;*/

}

.img-storefront{

    width:100%;
    height:450px;
    object-fit:cover;

}

.img-gallery{

    width:100%;
    height:130px;
    object-fit:cover;

}