@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Raleway:600i');

*{

    border: 1px solid red;

}

h1, h2, h3, h4, h5{

    color: #37474F;
    font-family: 'Shrikhand', cursive;

}

.bg-light{

    background-color: #B2DFDB !important;

}

.navbar-custom{

    height: 90px;
    -webkit-box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.75);

}

.navbar-brand{

    font-family: 'Shrikhand', cursive;

}

#c-nav-item{

    font-family: 'Shrikhand', cursive;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

}

.account-pic{

    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    margin-left:20px;
    border-radius: 25px;
    background-color: white;
}

#c-dropdown-menu{

    left:auto;
    right: 0;
    top: 135%;
    text-align: center;
    min-width: 14rem;
    font-family: 'Raleway', sans-serif;
}

.search-input{

    -webkit-box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.75);

}

.main-container{

    -webkit-box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.75);

}

.dropdown-item{

    padding: 0.5rem 1.5rem;
    letter-spacing: 0.1rem;

}

.top-shelf{

    background-color: #E0F2F1;

}

.top-shelf-left{

    height: inherit;

}

.primary-btns{

    width:9rem;
    background-color: #B2DFDB;
    font-family: 'Shrikhand', cursive;
    color: #455A64;
    border-radius: 0;
    border: none;
    font-size: 1rem;
    -webkit-box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.75);

}

.primary-btns:hover{

    color: #455A64;
    background-color: #80CBC4;

}

.f-datepicker{

    background-color: white;
    border: none;
    border-bottom: 1px solid #607D8B;
    font-family: 'Raleway', sans-serif;

}

.f-datepicker:hover{

    /*background-color:#009688*/

}

.box{

    border-bottom : 2px solid #607D8B;

}

.stylist-card{

    height:200px;

}